#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


form {
  text-align: center;
  
}

div {
  margin-bottom: 10px;
}

/* input{
  background-color: rgb(19, 132, 231);
  margin-left: 10px;
} */

label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input {
  width: 200px;
}